node_modules
.next
.npm-cache
.DS_Store
.env
.env.local
.env.*.local
*.log
*.tsbuildinfo
coverage
cypress/videos
cypress/screenshots
android/local.properties
android/.gradle
*.jks
*.keystore
.env.production
amplify.env
.tools
.node22
*firebase-adminsdk-*.json
