node_modules
.next
.npm-cache
.tools
www
.DS_Store
.env
.env.local
.env.*.local
*.log
*.tsbuildinfo
coverage
cypress/videos
cypress/screenshots
android/local.properties
android/.gradle
*.jks
*.keystore
*firebase-adminsdk*.json
